@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  font-family: "Montserrat", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 3em;
  padding: 1em;
  will-change: filter, scale;
  transition: filter, scale 300ms;
}
.pin{
  height: 2em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  scale: 125%;
}
.logo.github:hover {
  filter: drop-shadow(0 0 2em rgb(211, 195, 57));
}
.logo.cv:hover {
  filter: drop-shadow(0 0 2em rgb(57, 211, 83));
}
.logo.email:hover {
  filter: drop-shadow(0 0 2em rgb(255, 79, 79));
}

.card {
  padding: 2em;
}
