@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c;
}

html {
  scrollbar-color: #18181b #09090b;
  scrollbar-arrow-color: transparent;
}

.logo {
  height: 5em;
  padding: 1em;
  will-change: filter, scale;
  transition: filter, scale 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  scale: 125%;
}
.logo.github:hover {
  filter: drop-shadow(0 0 2em rgb(211, 195, 57));
}
.logo.cv:hover {
  filter: drop-shadow(0 0 2em rgb(57, 211, 83));
}
.logo.email:hover {
  filter: drop-shadow(0 0 2em rgb(255, 79, 79));
}

.swiper-pagination-bullet {
  background-color: #ef4444;
  height: 10px;
  width: 10px;
  transition: all 300ms ease-in-out;
}

.swiper-pagination-bullet-active {
  background: #ef4444;
  height: 10px;
  width: 35px;
  border-radius: 10px;
}
